
/*CSS for the Every Page's Body Area*/
body{
	color: var(--primary-color); 
	background-color: var(--bg-color); 
  font-family: "Red Hat Text", sans-serif;
  width: fit-content;
}





/*Data Themes*/
:root {
    --primary-color: #222222 !important;
    --secondary-color: grey !important;
    --bg-color: white !important;
}

[data-theme="dark"] {
    --primary-color: white !important;
    --secondary-color: grey !important;
    --bg-color: #222222 !important;
}



/*Timer CSS Table Fix Up The Ugly Design*/

td {
    padding-right: 100px;
    padding-top: 10px;
      }